@page "/booking"
@using ServiceReference1
@using BlazorServerAppBooking.Data
@inject RoomGeneratorService RoomGeneratorService

<h3>Booking</h3>
<h4>Book here</h4>
<table>
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for(int j = 0; j < 3; j++)
            {
                <td>
                    <button class="free" @onclick="(() => BookSeat(i, j))"/>
                </td>
            }    
        </tr>
    }
</table>
<p>@canBook</p>
<p>@SeatNumber(3,3,9)</p>
<p>@seats[0].isBooked</p>



@code {
    private Seat[] seats;
    public bool canBook = false;

    protected override async Task OnInitializedAsync()
    {
        seats = await RoomGeneratorService.GetSeatsAsync(9);
    }


    public async Task BookSeat(int i, int j)
    {
        Service1Client client = new Service1Client(0);
        int seatNumber = await SeatNumber(i, j, seats.Length);
        canBook = await client.CreateBookingNumberAsync(seatNumber, seats.Length);
        if (canBook)
        {
            seats[seatNumber].isBooked = true;
            seats[seatNumber].state = "booked";
        }
    }

    private async Task<int> SeatNumber(int i, int j, int numberOfSeats)
    {
        int arraySize = (int)Math.Sqrt(numberOfSeats);
        int[,] seatArray = new int[arraySize, arraySize];
        int counter = 1;
        for(int k = 0; k < arraySize; k++)
        {
            for(int l = 0; l < arraySize; l++)
            {
                seatArray[k, l] = counter;
                counter++;
            }
        }

        return seatArray[i, j];
    }

}


1. You Crate a bookingNumber by calling this method: bool CreateBookingNumber(int bookingNumber, int numberOfBookingItems)
2. You use this bookingNumber to get or set the booking array, by using this methods: BookingItem[] GetBookingItems(int bookingNumber) - bool SetBookingItems(int bookingNumber, BookingItem[] bookings)