@page
@model Razor4.Pages.rdb.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item2.Id" />
            <div class="form-group">
                <label asp-for="Item2.Name" class="control-label"></label>
                <input asp-for="Item2.Name" class="form-control" />
                <span asp-validation-for="Item2.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2.Efternavn" class="control-label"></label>
                <input asp-for="Item2.Efternavn" class="form-control" />
                <span asp-validation-for="Item2.Efternavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item2.Alder" class="control-label"></label>
                <input asp-for="Item2.Alder" class="form-control" />
                <span asp-validation-for="Item2.Alder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
